

$main-dark-color: #1B1B1B;
$city-icon-color: 373737;


*{
	color: white;
}

*, ::after, ::before {
	box-sizing: border-box;
}

body,html{
    height:100%
}

body{
    margin: 0px;
	overflow-y:hidden;
	background-color: $main-dark-color;
}

.cover{	
	position: absolute;
	z-index: 999;
	height: 100%;
	width: 100%;
    background-color: #111111;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	text-align: center;
	cursor: default ;
	
	.innercover{

		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: "Cormorant SC";
		font-size: 72px;
		letter-spacing: 7px;

		h1{
			margin:0px;
			font-family:"Cormorant";
			font-style: italic;
			font-weight: 500;
			font-size: 96px;
		}


		#buttoncover{
			font-size: 30px;
			letter-spacing: 3px;
			padding: 15px 30px;
			margin-top: 50px;
			border: white 2px solid;
		}

	}

}

#Uula-page{
	display: none;
}

#Khan-page{
	display: none;
}

#Onxy-page{
	display: none;
}

#Orcius-page{
	display: none;
}

.overlay{

	overflow: hidden;
	position: absolute;
	top: 0%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
	justify-content:flex-end;

	.discription{
		width: 40%;
		padding: 4% 3%;
		padding-bottom: 0px;
		background-color: $main-dark-color;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;

		img{
			object-fit: contain;
			max-height: 30vh;
			max-width: 30vw;
			border: white 1px solid;
			border-radius: 5px;
		}

		#dragon{
			max-height: 25vh;
		}

		h2{
			font-size: 3rem;
			margin-bottom: 10px;
			font-family:  'Dancing Script', cursive;
			-webkit-text-stroke-width:	0.5px;
  			-webkit-text-stroke-color: black;
		}

		p{
			font-size: 1rem;
			font-family:"Cormorant";
			overflow-y: auto;
			max-height: 50vh;

			&::-webkit-scrollbar {
			width: 5px;
			}

			&::-webkit-scrollbar-track {
			background: hsl(240, 20%, 35%);
			border-radius: 5px;
			}

			&::-webkit-scrollbar-thumb {
			background: hsl(240, 20%, 25%);
			border-radius: 5px;
			height: 20px;
			width: 2.5px;
			}
		}
	}
}



.map{
	
	display:block;
	position: relative;
	height: 100vh;
	width: 1.33 * 100vh;
	margin:auto;
	background-image: url("/img/Map.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	font-family: "Seaweed Script";
	

	h1{
		margin: 0 auto;
		width: 40%;
		padding-top:3%;
		cursor: pointer ;
		text-align: center;
		font-size: 40pt;
		font-family: 'Dancing Script', cursive;
		text-shadow: hsla(0, 0%, 0%, 0.5) 0px 4px 4px;
		letter-spacing: 8px;
		-webkit-text-stroke-width:	1px;
  		-webkit-text-stroke-color: black;
		transition: 0.5s;

		&:hover{
			color:#c40b0b;
		}
	}

	.city-button{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		text-decoration: none;
		font-size: 22pt;
		-webkit-text-stroke-width:	0.7px;
  		-webkit-text-stroke-color: black;
		cursor: pointer ;
	}

	.city-icon{
		width:60px;
		fill: #373737;
	}

	#KahnRa{
		position:absolute; 
		left:50%; 
		bottom:30%;
	}

	#UulaDaal{
		position:absolute; 
		left:24%; 
		top:34%;
	}

	#Orcius{
		position:absolute; 
		left:15%; 
		bottom:33%;
	}

	.tooltip{

		position: absolute;

		img{
			width:40px;
			height:40px;
		}

		.tooltiptext {
			opacity: 0;
			visibility: hidden;
			width: fit-content;
			white-space: nowrap;
			position:absolute;
			top:-80%;
			left:-60%;
			background-color: rgba(196, 11, 11, 0.651);
			color: rgb(255, 255, 255);
			font-family: "Cormorant";
			text-align: center;
			border-radius: 6px;
			padding: 5px 20px;
			transition: 0.5s;
		}
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}